@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;

  font-display: swap;
  src: local("PT Sans");
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;

  font-display: swap;
  src: local("PT Sans");
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

:root {
  --bacground-color: #888888;
  --basic-black: #000000;
  --basic-drey: #333333;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-light-blue: #81b3d2;
  --basic-brown: #766357;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  font-weight: 400px;
  background: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation{
font-size: 14px;
line-height: 26px;
color: var(--basic-black);
background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
}

.site-navigation a{
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus{
  color: var(--basic-brown);
}

.main-info{
list-style: none;
text-align: center;
}

.info-description{
font-size: 21px;
line-height: 26px;
}

.info-description-item{
font-size: 14px;
line-height: 26px;
}

.card{
text-align: center;
background-color: var(--bacground-color);
}

.card-main{
background-color: var(--basic-blue);
}

.card-number{
margin-top: 25px;
}

.feature-list{
list-style: none;
text-align: center;
line-height: 21px;

}

.choice{
text-align: center;
}

.feature-list-line{
list-style: none;
text-align: center;
line-height: 21px;
background-color: var(--bacground-color);

}

.advantages{
    width: 1200px;
}

.social-link-name{
list-style: none;
text-align: center;
}

.info-blok-hotels{
text-align: left;
}

.choise-list{
list-style: none;
}

.choise-button{
text-align: center;
}

.sorting-list{
list-style: none;
color: var(--bacground-color);
}

.result-hotel{
text-align: left;
font-weight: bold;
font-size: 21px;
}

.sorting-item a{
color: var(--basic-black);
}
.sorting-item a:hover,
.sorting-item a:focus{
color: var(--basic-blue);
}

.name-hotel{
font-weight: bold;
font-size: 21px;

}

.type-hotel,
.name-hotel,
.prise-hotel,
{
text-align: left;
}

.rating-hotel{
text-align: right;
}
