/*fonts*/

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v12-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/pt-sans-v12-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/pt-sans-v12-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/pt-sans-v12-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/pt-sans-v12-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/pt-sans-v12-latin_cyrillic-regular.svg#PTSans")
      format("svg"); /* Legacy iOS */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v12-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/pt-sans-v12-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/pt-sans-v12-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/pt-sans-v12-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/pt-sans-v12-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/pt-sans-v12-latin_cyrillic-700.svg#PTSans") format("svg"); /* Legacy iOS */
}
:root {
  --bacground-color: #888888;
  --basic-black: #000000;
  --basic-drey: #333333;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-light-blue: #81b3d2;
  --basic-brown: #766357;
}
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  font-weight: 400px;
  background: #888888;
}

.page a {
  text-decoration: none;
}

img {
  min-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: bold;
}

.main-navigation a {
  color: var(--basic-black);
}
ul.site-navigation li {
  display: inline;
}
.site-navigation {
 
  list-style: none;
  width: 1200px;
  height: 56px;
}

.info {
  text-align: center;
}
